.song_activity {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.introduction {
    background-image: url("https://bocaditosespanol.com/wp-content/uploads/2022/12/practice_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.introduction p {
    margin: 10px 25px;
}

.game_selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    margin-bottom: -50px;  
}

.buttons {
    align-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    height: 51px;
    justify-content: center;
    margin: 25px;
    text-align: center;
    width: 100px;
}

.buttons p {
    margin: 0;
    padding: 0;
}

.button_lyrics {
    background-color: #DB4D89;
}

.button_quiz {
    background-color: #7F7DCF;
}

.video_container {
    border-radius: 25px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    grid-area: video;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 225px;
    position: sticky;
    top: 0;
    width: 375px;
    z-index: 4;
  }
  
  .video_container iframe {
    border-radius: 25px;
    width: 100%;
    height: 100%;
  }

.lyrics {

    color: #464646;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 375px;
}

.toggle_translations {
    cursor: pointer;
    grid-area: toggle_button;
    width: 30px;
}

.verses {
    background-color: white;
    border: 0px lightgray solid;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: grid;
    grid-template-areas:
    "toggle_button spanish_verse feedback"
    ". verse_english .";
    grid-template-columns: 0.5 1fr 0.5fr;
    grid-template-rows: auto;
    margin: 10px 0;
    padding: 25px 0;
    width: 375px;
}

.verses_spanish {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: spanish_verse;
    justify-content: space-evenly;
}

.verses_spanish > p {
    margin: 10px 2.5px;
    padding: 0;
}

.input_answers {
    align-self: center;
    background-color: lightgrey !important;
    border: solid 1px lightgray !important;
    font-size: 18px;
    height: 25px;
    margin: 0 10px;
    outline: none;
    text-align: center;
    width: 125px;
}

.feedbacks {
    visibility: hidden;
    grid-area: feedback;
    width: 30px;
}

.verses_english {
    background-color: #FFD600;
    display: none;
    font-size: 18px;
    grid-area: verse_english;
    margin-top: 20px;
    text-align: center;
}

.verses_english p {
    margin: 0;
    padding: 5px 0px;
}


  .no_landcape_mobile_mode {
    display: none;
  }


  .toggle_translations, .feedbacks  {
    margin: 15px;
  }



  @media (orientation: landscape) and (max-width: 1000px) {
    .no_landcape_mobile_mode {
        align-content: center;
       display: flex;
       height: 300px;
       margin: auto;
       width: 700px;
    }

    .no_landcape_mobile_mode p {
        align-self: center;
    }

 
    .song_activity {
       display: none;
    }
 }